<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>食事一覧</title>
</head>
<body>

<h2>食事一覧</h2>

<table border="1">
    <tr>
        <th>日付</th>
        <th>種類</th>
        <th>カロリー</th>
        <th>メモ</th>
    </tr>

    <tr th:each="m : ${meals}">
        <td th:text="${m.date}"></td>
        <td th:text="${m.mealType}"></td>
        <td th:text="${m.calories}"></td>
        <td th:text="${m.memo}"></td>
    </tr>
</table>

<br>
<a href="/meal/new">新規登録</a>
<a href="/home">ホーム</a>

</body>
</html>
